name: Upload Infrastructure to S3

on:
  push:
    branches:
      - main
    paths:
      - 'infrastructure/**'
  workflow_dispatch:

jobs:
  upload-templates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3
        run: |
          aws s3 cp infrastructure/ec2.yaml s3://${{ secrets.S3_BUCKET_NAME }}/infrastructure/ec2.yaml
          echo "Template uploaded to: https://s3.amazonaws.com/${{ secrets.S3_BUCKET_NAME }}/infrastructure/ec2.yaml"
